body {
	margin: 0;
	color: var(--text);
	background: var(--background);
}

:root {
--text: hsl(0, 20%, 98%);
--background: hsl(0, 20%, 1%);
--primary: hsl(0, 100%, 34%);
--secondary: hsl(0, 31%, 12%);
--accent: hsl(180, 30%, 52%);
}
